<!-- header.component.html -->
<header class="app-header">
  <!-- <div class="header-icons">
      <i class="fas fa-bell notification-icon"></i>
      <i class="fas fa-moon moon-icon"></i>
      <i class="fas fa-sun sun-icon"></i>
    </div> -->

  <!-- Search bar -->
  <div class="search-bar">
    <input type="text" placeholder="Search" class="search-input" />
    <i class="fas fa-search search-icon"></i>
  </div>
  <div class="user-info-container">
    <div class="user-details">
      <img src="assets/profile.png" alt="User Photo" class="user-photo" />
      <div class="user-name">Helo! Yazan</div>
    </div>
  </div>
</header>
