<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <div class="login-container">
    <form (ngSubmit)="onSubmit()">
      <h3>Login Here</h3>

      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="error-message" style="color: red" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
      <button type="submit">Log In</button>
    </form>
  </div>
</body>
