<div class="details-container" *ngIf="Data">
  <div class="detail-item">
    <div class="label">ID:</div>
    <div class="value">{{ Data.id }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Status:</div>
    <div class="value">{{ Data.requestStatus }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Service Type:</div>
    <div class="value">{{ Data.serviceTypeName }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Service Name:</div>
    <div class="value">{{ Data.serviceName }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Description:</div>
    <div class="value">{{ Data.description }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Phone Number:</div>
    <div class="value">{{ Data.phoneNumber }}</div>
  </div>

  <div class="detail-item">
    <div class="label">City:</div>
    <div class="value">{{ Data.city }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Address:</div>
    <div class="value">{{ Data.address }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Image URL:</div>
    <div class="value">{{ Data.imageUrl }}</div>
  </div>

  <div class="detail-item">
    <div class="label">User ID:</div>
    <div class="value">{{ Data.userId }}</div>
  </div>

  <div class="detail-item">
    <div class="label">Service Type ID:</div>
    <div class="value">{{ Data.serviceTypeId }}</div>
  </div>
</div>
