// styles.scss
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

body,
html {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
